<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Automaticks" value="https://nuget.pkg.github.com/Automaticks/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Automaticks>
      <add key="Username" value="jfevia" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </Automaticks>
  </packageSourceCredentials>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Automaticks">
      <package pattern="Automaticks.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
